---
---
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droidsans);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/* Colours */
/* Social media */
$twitter:         #6dabda;
$linkedin:        #2b77b1;
$google-plus:     #c95644;
$github:          #f6c2a4;
$stack-overflow:  #c98b3b;
$rss:             #eea33a;
$email:           #860038;

/* Main site */
// Backgrounds
// $main-background: #ffffff;
$main-background: #f9f9f9;
// $main-text: #000000;
$main-text: #0c0c0c;
$link-text: #D7161B;
$photo-background: #000000;
$photo-text: #ffffff;
$header-text: #f9f9f9;
$thumbnail-text: #f9f9f9;
$header-background: #000000;
$block-background:  #29292d;
// Navbar
$navbar-background: #000000;
$navbar-border: #383b42;
$navbar-text: #ffffff;


$info-box:        #176b9d;
$warning-box:     #ad1800;
// Text
$white:           #ffffff;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* mixins */
@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/* Globals */
html, body {
  overflow-x: hidden;
	font-family: 'Open sans', sans-serif;
	font-weight: 300;
	background-color: $main-background;
	color: $main-text;
	font-size: 16px;
    position: relative;
    text-decoration: none;
  margin: 0;
}

a, a:active {
	color: $main-text;
	text-decoration: none;
}

ul {
    list-style-type: circle;
}

// *,:after,:before {
// 	box-sizing:border-box;
// }

/* Classes */
.header {
	font-size: 32px;
	text-align: center;
	margin-left: -0%;
	width: 100%;
  color: $header-text;
	@media (min-width: $screen-sm-min) {
		margin-left: -10%;
		width: 120%;
	}
  @media (min-width: $screen-md-min) {
    font-size: 44px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 20px;
    font-size: 62px;
  }
}

.thumbnail {
  padding-top: 4rem;
  margin-bottom: 0px;
  text-align: center;
  background-color: $header-background;
  color: $thumbnail-text;
  border: 0;
  border-radius: 0;

}

.title {
  text-align: center;
  padding: 1rem 0;
  background-color: $header-background;
}

.author {
  color: $header-text;
}




.navigation{
  background-color: $navbar-background;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $navbar-border;
  text-align:center;
  text-decoration: none !important;
  position: fixed;
  @media (min-width: $screen-lg-min) {
    position: fixed;
  }

  .nav-container {

    ul {
      list-style: none;
      padding: 0px;

      @media (min-width: $screen-lg-min) {
        margin-top: 3px;
      }

    li {
      display: inline;
      a {
        display: inline-block;
        font-size: 20px;
        padding: 0 20px;
        line-height: 50px;
        color: $navbar-text;
        @media (min-width: $screen-lg-min) {
          font-size: 24px;
        }

      }
      &:hover {
              text-decoration: none;
      }
    }
    }
  }
}

$colors: (1: #D7161B, 2: #7FD2FD, 3: #04FF47, 4: #26949E, 5:#FFF23B, 6:#B100FA,
          7:#FF8821);

@each $anchor, $color in $colors {
   #{".navigation li:nth-child("+ ($anchor) + ") a:hover"} {
      border-bottom: 4px solid $color;
      margin-bottom: -4px;
      text-decoration: none;
    }
    #{".navigation li:nth-child("+ ($anchor) + ") a"} {

     }
    #{".navigation li:nth-child("+ ($anchor) + ") a:not(:hover) i"} {
        color: $color;
     }
}

.test {
  margin: 50px 0 0;
  background-color: $main-background;
  @media (min-width: $screen-lg-min) {
    margin-top: 50px;
  }
}

.test2 {
  background-color: $white;
}

.content-panel{
  background-color: $main-background;
  color: $main-text;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 16px;
  line-height: 170%;
  @media (min-width: $screen-md-min) {
    font-size: 18px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 20px;
  }

  .series {
    font-size: 14pt;
  }

  a, a:active {
    color: $link-text;

  }

  a:hover {
    color: $main-text;
    border-bottom: 1px solid $link-text;
    text-decoration: none;
  }


  p, blockquote, table, h1, h2, h3, h4, h5, h6, ul, ol {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;

    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }


  table, th, td {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    th {
      border-bottom: 1px solid $main-text;
      border-top: 2px solid $main-text;
    }

    tr:last-child td {
      border-bottom: 2px solid $main-text;
    }

    tr:hover {
      background-color: #f5f5f5
    }
  }

  img {
    max-width: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  li {
    margin: 10px;
  }

  figure.highlight, div.highlighter-rouge {
    pre {
      width: 50%;
      font-family: 'Anonymous Pro';
      background-color: $block-background;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
      border: none;
      padding: 15px 20px 20px 15px;
      box-sizing: border-box;
      border-radius: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      // padding: 2rem 2rem 2rem calc(50% - 425px);
    }
  }
}

.index {
  font-family: 'Roboto', sans-serif;
  background-color: $main-background;
  height: 100%;
  // margin: 50px 0 0;
  @media (min-width: $screen-lg-min) {
    // margin: 50px 0 0;
  }

  .index-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url({{ site.title_image }});
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    // margin-left: auto;
    // margin-right: auto;
    padding-top: 3rem;
    position: center;
    // background-color: $header-background;

    // img {
    //   padding: 10px;
    //   display: block;
    //   position: center;
    //   margin-left: auto;
    //   margin-right: auto
    // }
    img {
      width: 100%;
      height: 50%;

    }
  }

    .index-title {
      text-align: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
      font-size: 5rem;
      text-shadow: 0.1rem 0.1rem 1rem $main-text;
      }
    }

  .site-description {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
		margin-top: 30px;
    font-size: 24px;

		b {
			font-size: 32px;
		}
  }
  .index-content {
    background-color: $main-background;
    margin-left: auto;
    margin-right: auto;

    p, blockquote, table, h1, h2, h3, h4, h5, h6, ul, ol {
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}






.links {
	margin-top: 50px;
	text-align: center;

	i {
		padding-left: 5px;
		padding-right: 5px;

		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter:hover {
		color: $twitter;
	}

	.fa-linkedin:hover {
		color: $linkedin;
	}

  .fa-envelope:hover {
        color: $email;
    }

	.fa-google-plus:hover {
		color: $google-plus;
	}

	.fa-github-alt:hover {
		color: $github;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}

	.fa-rss:hover {
		color: $rss;
	}
}

.info {
  position: relative;
  margin: 25px 0;
  margin-left: -30px;
  padding: 15px 20px  20px;
  padding-left: 60px;
  background-color: $info-box;
  color: $white;
  box-sizing: content-box;
  font-size: 18px;
  font-weight: 500;
  @include border-radius(0 5px 5px 0);

  h5{
    font-size: 18pt;
  }
}
.info::after{
  content: '\24D8';
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 38px;
  font-weight: 900;
}

.warning {
  position: relative;
  margin: 25px 0;
  margin-left: -30px;
  padding: 15px 20px  20px;
  padding-left: 60px;
  background-color: $warning-box;
  color: $white;
  box-sizing: content-box;
  font-size: 18px;
  font-weight: 500;
  @include border-radius(0 5px 5px 0);

  h5{
    font-size: 18pt;
  }
}
.warning::after{
  content: '\24D8';
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 38px;
  font-weight: 900;
}


// .footer {
// 	width: 100%;
// 	margin-left: 0%;
//
// 	.fa-heart {
// 		color: $color-main;
// 	}
//
// 	@media (min-width: $screen-sm-min) {
// 		width: 90%;
// 		margin-left: 5%;
// 	}
//
// 	@media (min-width: $screen-md-min) {
// 		width: 80%;
// 		margin-left: 10%;
// 	}
//
// 	@media (min-width: $screen-lg-min) {
// 		width: 70%;
// 		margin-left: 15%;
// 	}
// }
