---
---
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/* Colours */
/* Social media */
$twitter:         #6dabda;
$linkedin:        #2b77b1;
$google-plus:     #c95644;
$github:          #f6c2a4;
$stack-overflow:  #c98b3b;
$rss:             #eea33a;
$email:           #860038;

/* Main site */
// Backgrounds
$main-background: #ffffff;
$main-text: #000000;
$link-text: #D7161B;
$photo-background: #000000;
$photo-text: #ffffff;

// Navbar
$navbar-background: #000000;
$navbar-border: #383b42;
$navbar-text: #ffffff;

// Header
$header-background: #000000;
$header-text: #ffffff;
$thumbnail-text: #ffffff;

$color-main:      #6baed6;
$block-background:  #29292d;
// $main-background:   #29292d;
$content-box:     #383b42;
$nav-box:         #2a2d32;
$info-box:        #176b9d;
$warning-box:     #ad1800;
// Text
$index-text:      #c8d1d7;
$article-text:    #c8d1d7;
$quote-text:      #c8d1d7;
$code-text:       #c8d1d7;
// $navbar-text:     #abbac4;
// $header-text:     #f2f2f2;
// $white:           #f2f2f2;
$white:           #ffffff;



$dark-blue:       #215A6D;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* mixins */
@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/* Globals */
html {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: $main-background;
	color: $main-text;
	font-size: 16px;
  position: relative;
	// height: 100%;
	// width: 100%
  margin: 0;
}

a, a:active {
	color: $main-text;
	text-decoration: none;
}

a:hover {
	color: $dark-blue;
	text-decoration: none;
}

ul {
    list-style-type: circle;
}

// *,:after,:before {
// 	box-sizing:border-box;
// }

/* Classes */
.header {
	font-size: 32px;
	text-align: center;
	margin-left: -0%;
	width: 100%;
  color: $header-text;
	@media (min-width: $screen-sm-min) {
		margin-left: -10%;
		width: 120%;
	}
  @media (min-width: $screen-md-min) {
    font-size: 44px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 20px;
    font-size: 62px;
  }
}

.thumb-test {
  padding-top: 4rem;
  margin-bottom: -10px;
  text-align: center;
  background-color: $header-background;
  color: $thumbnail-text
}

.title-test{
  text-align: center;
  padding: 2rem 0;
  background-color: $header-background;
}


.content-panel {
	background-color: $main-background;
  color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-bottom: 5px solid $color-main;
  margin-left: auto;
  margin-right: auto;
}

.series {
  font-size: 14pt;
}



.navigation{
  background-color: $navbar-background;
  width: 100%;
  top: 0;
  left: 0;
  // z-index: 1;
  border-bottom: 1px solid $navbar-border;
  text-align:center;
  @media (min-width: $screen-lg-min) {
    position: fixed;
  }

  .nav-container {

    ul {
      list-style: none;
      padding: 0px;

      @media (min-width: $screen-lg-min) {
        margin-top: 3px;
      }

    li {
      display: inline;
      a {
        display: inline-block;
        font-size: 20px;
        padding: 0 20px;
        line-height: 50px;
        color: $navbar-text;
        @media (min-width: $screen-lg-min) {
          font-size: 24px;
        }
      }
    }
      &:hover {
            }
    }
  }
}

$colors: (1: #D7161B, 2: #7FD2FD, 3: #04FF47, 4: #26949E, 5:#FFF23B, 6:#B100FA,
          7:#FF8821);

@each $anchor, $color in $colors {
   #{".navigation li:nth-child("+ ($anchor) + ") a:hover"} {
      border-bottom: 4px solid $color;
      margin-bottom: -4px;
      //  background-color: $color;
    }
    #{".navigation li:nth-child("+ ($anchor) + ") a"} {
      // border-bottom: 4px solid rgba(0,0,0,0);
       //  background-color: $color;
     }
    #{".navigation li:nth-child("+ ($anchor) + ") a:not(:hover) i"} {
        color: $color;
     }
}

.test {
  // margin: 50px 0 0 ;
  background-color: $main-background;
  @media (min-width: $screen-lg-min) {
    margin-top: 50px;
  }
}

.test2 {
  background-color: $white;
}

.content-test{
  background-color: $main-background;
  color: $main-text;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 16px;
  line-height: 170%;
  @media (min-width: $screen-md-min) {
    font-size: 18px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 20px;
  }


  a, a:active {
    color: $link-text;

  }

  a:hover {
    color: $main-text;
    border-bottom: 1px solid $link-text;
  }


  p, blockquote, table, h1, h2, h3, h4, h5, h6, ul, ol {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;

    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }
  //
  // blockquote {
  //   max-width: 850px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  //
  // table {
  //   // max-width: 850px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  table, th, td {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    th {
      border-bottom: 1px solid $main-text;
      border-top: 2px solid $main-text;
    }

    tr:last-child td {
      border-bottom: 2px solid $main-text;
    }

    tr:hover {
      background-color: #f5f5f5
    }
  }

  img {
    max-width: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  li {
    margin: 10px;
  }

  figure.highlight, div.highlighter-rouge {
    // width: 100%;
    // margin-left: -15px;
    // padding-right: 10px;
    // box-sizing: content-box;

    pre {
      // width: 100%;
      font-family: 'Anonymous Pro';
      background-color: $block-background;
      color: $white;
      font-size: 12px;
      // border: none;
      padding-left: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 15px;
      // box-sizing: content-box;
      border-radius: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 2rem 2rem 2rem calc(50% - 425px);
    }
  }
}

.index {
  background-color: $main-background;
  height: 100%;
  // margin: 50px 0 0;
  @media (min-width: $screen-lg-min) {
    margin: 50px 0 0;
  }

  .index-image {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    background-color: $header-background;

    img {
      padding: 10px;
      display: block;
      position: center;
      margin-left: auto;
      margin-right: auto
    }
  }

    .index-title {
      padding: 1rem 0;
      background-color: #000000;

      // .author-header {
      // font-family: 'Montserrat', sans-serif;
      // color: $color-main;
      // margin-top: 0px;
      // padding-top: 15px;
      // font-size: 40px;
      // }
    }

  .site-description {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
		margin-top: 30px;
    font-size: 24px;

		b {
			font-size: 32px;
		}
  }
  .index-content {
    background-color: $main-background;
    margin-left: auto;
    margin-right: auto;

    p, blockquote, table, h1, h2, h3, h4, h5, h6, ul, ol {
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}






.links {
	margin-top: 50px;
	text-align: center;

	i {
		padding-left: 5px;
		padding-right: 5px;

		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter:hover {
		color: $twitter;
	}

	.fa-linkedin:hover {
		color: $linkedin;
	}

  .fa-envelope:hover {
        color: $email;
    }

	.fa-google-plus:hover {
		color: $google-plus;
	}

	.fa-github-alt:hover {
		color: $github;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}

	.fa-rss:hover {
		color: $rss;
	}
}

.info {
  position: relative;
  margin: 25px 0;
  margin-left: -30px;
  padding: 15px 20px  20px;
  padding-left: 60px;
  background-color: $info-box;
  color: $white;
  box-sizing: content-box;
  font-size: 18px;
  font-weight: 500;
  @include border-radius(0 5px 5px 0);

  h5{
    font-size: 18pt;
  }
}
.info::after{
  content: '\24D8';
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 38px;
  font-weight: 900;
}

.warning {
  position: relative;
  margin: 25px 0;
  margin-left: -30px;
  padding: 15px 20px  20px;
  padding-left: 60px;
  background-color: $warning-box;
  color: $white;
  box-sizing: content-box;
  font-size: 18px;
  font-weight: 500;
  @include border-radius(0 5px 5px 0);

  h5{
    font-size: 18pt;
  }
}
.warning::after{
  content: '\24D8';
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 38px;
  font-weight: 900;
}

.single {
	// height:100%;
  margin: 50px 0 0;
  margin-left: auto;
  margin-right: auto;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 28px;
	}

	p {
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 40px;
		}
	}

	.article {
		width: 75%;
		// margin-left: 5%;
		padding: 0px;
        color: $article-text;

	.thumb {
			margin-top: 20px;
			margin-bottom: -10px;
			text-align: center;
            color: $white;

			img {
				height: 50px;
				@media (min-width: $screen-sm-min) {
					height: 70px;
				}
			}
		}

		.author {
			font-size: 20px;
			text-align: center;
			margin-bottom: 0px;
		}

		.read-time {
			font-size: 16px;
			text-align: center;
			margin-bottom: 10px;
			font-weight: 400;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 40px;
			}
		}

		.content {
			font-size: 18px;
			line-height: 170%;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto;

			@media (min-width: $screen-sm-min) {
				font-size: 24px;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 40px;
				padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
			}

			.series {
				margin-bottom: 50px;
			}

			img {
				max-width: 100%;
				padding: 10px;
    		display: block;
    		margin-left: auto;
    		margin-right: auto
			}

			ul {
				list-style-type: disc;
			}

      ol {
				list-style-type: decimal;
			}

			blockquote {
				position: relative;
				width: 100%;
		    	margin-left: -15px;
				padding-right: 10px;
				background-color: $block-background;
				color: $white;
				box-sizing: content-box;
				border: none;
				font-size: 28px;

				@media (min-width: $screen-sm-min) {
					margin-left: -30px;
					padding-left: 45px;
					padding-right: 15px;
				}

				p {
			    margin: 0;
			    padding: 15px;
					z-index: 0;
				}

				:before {
    			font-family: "Times New Roman";
					color: $article-text;
			    content: "“";
			    position: absolute;
			    top: 15px;
			    left: 15px;
			    font-size: 65px;
			    font-weight: bold;
				}

			}

			.alignright {
				float: right;
			}

			.aligncenter {
			    display: block;
			    margin: 5px auto 5px auto;
			}

			figure.highlight, div.highlighter-rouge {
				width: 100%;
				margin-left: -15px;
				padding-right: 10px;
				box-sizing: content-box;

				@media (min-width: $screen-sm-min) {
					margin-left: -30px;
					padding-right: 60px;
				}

				pre {
					width: 100%;
					font-family: 'Anonymous Pro';
					background-color: $block-background;
					color: $white;
					font-size: 12px;
					border: none;
					padding-left: 15px;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 15px;
					box-sizing: content-box;
					border-radius: 0;
					margin-bottom: 10px;
					margin-top: 10px;

					@media (min-width: $screen-sm-min) {
						padding-left: 50px;
						padding-right: 10px;
						margin-bottom: 40px;
						font-size: 15px;
					}
				}
			}

			p, ul, ol {

				code {
					font-family: 'Anonymous Pro';
					font-size: 15px;
					background-color: $block-background;
					color: $code-text;
					padding: 0.5em;
					vertical-align: middle;
				}

			}

			.tags {
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;

				a, a:active {
					color: $white;
				}

				a: {
					color: $color-main;
				}

			}

			.share {
				margin-top: 20px;
				margin-bottom: 10px;
				text-align: center;

			}

		}

		.feedback {
			text-align: center;

			.fa-heart {
				color: $color-main;
			}

		}

		.comments {
		}

	}
}

/* Index */

// .index {
//     width: 75%;
//     height: 75%;
//     max-height: 100%;
//     margin-left: 5%;
//     padding: 0px;
//     margin-top: 20px;
//
// 	@media (min-width: $screen-sm-min) {
// 		width: 700px;
// 		max-width:700px;
// 	}
//
// 	.header {
// 		margin-top: 10px;
// 		margin-left: 0%;
// 		margin-bottom: 0px;
// 		font-size: 32px;
// 		width: 100%;
//
// 		@media (min-width: $screen-lg-min) {
// 			margin-left: -10%;
// 			width: 120%;
// 		}
// 	}
//
// 	.categories {
// 		font-size: 22px;
// 	}
//
// 	.content-panel:nth-of-type(1) {
// 		border-bottom: 10px solid $color-main;
// 	}
//
// 	.author-header {
// 		font-family: 'Montserrat', sans-serif;
// 		color: $color-main;
// 		margin-top: 0px;
// 		padding-top: 15px;
// 		font-size: 40px;
//
// 		@media (min-width: $screen-sm-min) {
// 			font-size: 52px;
// 			margin-top: 0px;
// 		}
//
// 		@media (min-width: $screen-md-min) {
// 			font-size: 70px;
// 			margin-top: -20px;
// 		}
// 	}
//
// 	.row {
// 		height: 100%;
// 		max-height: 100%;
// 		margin-left: 0px;
// 		margin-right: 0px;
// 	}
//
// 	.gravatar {
//         margin-top: -15px;
// 		width: 100%;
// 		text-align: center;
//         margin-bottom: 10px;
// 	}
//
// 	.author-text {
// 		text-align: center;
// 		margin-top: 30px;
//         font-size: 24px;
//
// 		b {
// 			font-size: 32px;
// 		}
// 	}
//
// 	.links {
// 		font-size: 2em;
// 	}
//
//   .articles {
//     text-align: center;
//     font-size: 20px;
//
//     h2 {
//       margin-bottom: 30px;
//       color: $color-main;
//       font-size: 26px;
//     }
//
//     ul {
//
// 			padding: 0px;
//
// 			li {
// 				margin-bottom: 20px;
// 				font-size: 24px;
// 			}
//
// 			li:nth-last-of-type(1) {
//
// 				small {
// 					font-size: 16px;
// 				}
//
// 			}
// 		}
//
// 		a, a:active {
// 			color: $white;
// 			white-space: nowrap;
// 		}
//
// 		a:hover {
// 			color: $color-main;
// 		}
//
// 	.copyright {
// 		margin-top: 50px;
// 		text-align: center;
// 	}
// }
// }

.footer {
	width: 100%;
	margin-left: 0%;

	.fa-heart {
		color: $color-main;
	}

	@media (min-width: $screen-sm-min) {
		width: 90%;
		margin-left: 5%;
	}

	@media (min-width: $screen-md-min) {
		width: 80%;
		margin-left: 10%;
	}

	@media (min-width: $screen-lg-min) {
		width: 70%;
		margin-left: 15%;
	}
}
