<!--
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
<div class="container-fluid">

    <div class="row">

        <div class="container main outer">
            {% if page.layout == 'page' %}
                {% include navbar.html %}
            {% elsif page.layout == 'post'%}
            {% include navbar.html %}
            {% endif %}
    {% include header.html %}

            <div class="page-content">
              <div class="wrap">
              {{ content }}
              </div>
            </div>
        </div>

    {% include footer.html %}
    </div>
</div>
    </body>
</html> -->
